name: Build and Push Docker Image

on:
  push:
    branches: [ "main", "master" ]
    paths:
      - "Dockerfile"
      - "requirements.txt"
      - "app/**"
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          
      - name: Set up QEMU  # 用于多平台编译
        uses: docker/setup-qemu-action@v2
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push multi-arch Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/article-master:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/article-master:${{ github.sha }}
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/article-master:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/article-master:buildcache,mode=max
